body{
	background-color:#F1F2F2;
	font-family: 'Comic Sans MS';
	color: #606060;
	max-width:900px;
	margin-right:auto;
	margin-left:auto;
}
header, footer{
	background-color: #B5BDAF;
	color: #606060;
	height:100px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
}
h1{
	font-size: 2.5em;
}
nav{
	border-top: 3px dashed #546a7b;
	border-bottom: 3px dashed #546a7b;
	margin-top: 4px;
}
.clear-float{
	clear:both;
}
.btn{
		background-color: #5b7d87;
		color: #fef9ff;
	}